<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./dist/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <title>Home</title>
  </head>



  <body>
    <div class="logo">
      <a href="/">
        <h1>WESS<span> Compiler 🤖📑</span></h1>
      </a>
    </div>


    <div class="content" >
      <p style="text-align: center">
        Compile <span>your code</span>, it is all you need to do<span> to explain to your computer</span>
    </div>

    <div class="action"><a href="/compile">Let's Compile it!</a></div>
  </body>

</html>